
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: black;
} 
.hero {
  transition: ease-in;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.faqHeader {
  font-size: x-large;
  font-weight: 500;
  margin: 20px;
  text-align: center;
}

.panel-heading [data-toggle="collapse"]:after {
  font-family: 'Glyphicons Halflings';
  content: "e072"; /* "play" icon */
  float: right;
  color: #F58723;
  font-size: 18px;
  line-height: 22px;
  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #454444;
}

.h1text{
  
  text-shadow: 0px 5px 5px rgba(129, 3, 3, 0.4);
   text-rendering: optimizeLegibility;
}
.subtitle{
  font-weight: 900;
  font-size: 30px;
  color: #dfdfdf;
}
.hero-txt{
  margin-bottom: 5rem;
}